<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3 text-center">
        <mat-card class="mt20">
          <h1 color="primary">Welcome to Exam Portal</h1>

          <div class="container text-center">
            <button  [routerLink]="'/signup'" mat-raised-button color="primary">
              Get Started
            </button>
           
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
